<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet"
          href="https://staging.erp.leekim.online/assets/leekimerp/css/pdf_reset.css">
    <title>CERTIFICATE OF CORPORATE SEAL</title>
    <style></style>
</head>

<body>
<div>
<h1 style="width:100%;text-align:center;">{{app.company_name}}</h1>
<div style="width:100%;text-align:center;font-size:14px;">
	(Company Registration Number: {{ app.name }})<br/>
	(Incorporated in the Republic of Singapore)
</div>
<hr style="border:solid; height:10px;">
<div style="width:100%; height:5px;"></div>
<div style="width:100%;text-align:center;font-size:28px;font-weight:bold;">
	Certificate of Corporate Seal
</div>
<hr style="border:solid; height:10px;">
<div style="width:100%; height:5px;"></div>
<div style="width:100%;text-align:left;font-size:14px;"></div>

<div style="width:80%;text-align:left;font-size:14px;padding-left:100px;">
	<table>
		<tr>
			<td width="25%"></td>
			<td width="50%" border="1">
				<p style="margin-left: 40px; margin-right: 0px">
					<br/><br/>
					<br/><br/>
					<br/><br/>
					<br/><br/>
					<br/><br/>

				</p>
			</td>
			<td  width="25%"></td>
		</tr>
	</table>
</div>


<div style="width:100%;text-align:left;font-size:16px;">
	<table >
		<tr>
			<td width="25%" align="left" >
				<p style="margin-left: 40px; margin-right: 0px">Company Name: </p>
			</td>
			<td width="75%">
				<p style="margin-left: 40px; margin-right: 0px">
					{{app.company_name}}
				</p>
			</td>
		</tr>
		<tr>
			<td width="25%" align="left" >
				<p style="margin-left: 40px; margin-right: 0px"><br/>Registration No. :</p>
			</td>
			<td width="75%">
				<p style="margin-left: 40px; margin-right: 0px">
					<br/>
					{{ app.name }}
				</p>
			</td>
		</tr>
		<tr>
			<td width="25%" align="left" >
				<p style="margin-left: 40px; margin-right: 0px"><br/>Registered Office<br/>Address :<br/></p>
			</td>
			<td width="75%">
				<p style="margin-left: 40px; margin-right: 0px">
					<br/>
					{{ app.addr_1 }} {{app.addr_2 }} ({{ app.postcode }})
				</p>
			</td>
		</tr>
	</table>
</div>
<div style="width:100%;text-align:center;font-size:14px;">
	<b>We certify that the above-pressed seal is the seal of the company.</b>
</div>
<div style="width:100%;text-align:left;font-size:14px;font-weight:bold;">
	<div style="width:100%;text-align:left;font-size:14px;">
		Dated :
		<br/><br/>
	</div>
</div>
<table border="0" cellpadding=0 cellspacing=0 width="90%" align="center">
	<tr><td colspan="3" style="height:20px;"></td></tr>
	{% for director in app.officers_directors %}
		{% if loop.index % 2 == 1 %}
			<tr>
			<td style="width:40%; text-align:left;font-size:14px;">
        <span style="color: white; font-size: 1px">_____________________________________________________________________
            ___________________________________________{{ director.signature }}</span>
        <hr>
				<b>{{ director.full_name }}</b> <br/>
				{{ director.designation|upper }}
			</td>
			<td width="140"></td>
		{% else %}
			<td style="width:40%; text-align:left;font-size:14px;">
        <span style="color: white; font-size: 1px">_____________________________________________________________________
            ___________________________________________{{ director.signature }}</span>
        <hr>
				<b>{{ director.full_name }}</b> <br/>
				{{ director.designation|upper }}
				<br/><br/>
				<br/><br/>
			</td>
			</tr>
		{% endif %}
		{% if loop.index % 2 == 1 and loop.index == loop.length %}
			<td>
				&nbsp;
			</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>
</div>
</body>
</html>


