<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet"
          href="https://staging.erp.leekim.online/assets/leekimerp/css/pdf_reset.css">
    <title>Constitution Limited by Guarantee</title>
    <style>
        .div-1-wrap {
            text-align: center;
            font-size: 16px;
            font-weight: normal;
            line-height: 0.7;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 3px solid #000;
        }

        .div-2-wrap {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.5;
            margin-bottom: 24px;
        }

        .div-2 {
            margin-bottom: 16px;
        }

        .div-2-nested {
            font-size: 14px;
            padding: 16px 16px 16px 42px;
        }

        .div-2-nested-table-2 {
            font-size: 14px;
            padding-top: 16px;
            padding-left: 56px;
            padding-right: 0;
        }

        .table.second {
            width: 80%;
        }

        .table.second td {
            width: 33.33%;
            padding-top: 8px;
        }

        .date {
            font-size: 16px;
            font-weight: normal;
        }

        /*    Standard */
        .standard {
            font-size: 16px;
            font-weight: normal;
            font-family: "Times", Times, serif;
        }

        table.type1 td {
            line-height: 1.5;
        }

        table.type2 td {
            text-indent: 20px;
            text-align: justify;
        }


    </style>
</head>

<body>
<div>
    <div class="div-1-wrap">
        <div>THE COMPANIES ACT (CHAPTER 50)</div>
        <br>
        <div>A COMPANY LIMITED BY GUARANTEE</div>
        <br>
        <div>CONSTITUTION OF</div>
        <br>
        <div>{{ app.company_name or '' }}</div>
    </div>

    <div class="div-2-wrap">
        <div class="div-2">1. The name of the company is {{ app.company_name or '' }}</div>
        <div class="div-2">2. The registered office of the company is situated in the Republic of Singapore.<br>
            <div class="div-2-nested">
                <div><strong>{{ app.addr_1 }}</strong></div>
                <div><strong>{{ app.addr_2 }}</strong></div>
                <div><strong>{{ app.postcode }}</strong></div>
            </div>
        </div>
        <div class="div-2">3. The liability of the members is limited.</div>


        <div class="div-2">
            <div style="text-align: justify;">
                4. Each member of the company undertakes to contribute to the assets of the company in the event of it
                being
                wound up while he or she is a member, or within one year after he or she ceases to be a member, for
                payment of
                the debts and liabilities of the company contracted before he or she ceases to be a member, and the
                costs,
                charges, and expenses of winding up and for the adjustment of the rights of the contributors among
                themselves,
                such amount as may be required not exceeding the amounts shown in paragraph 6.
            </div>
        </div>

        <div class="div-2">5. The number of members with which the company is applying to be registered is 2
        </div>


        <div class="div-2">
            <div style="text-align: justify;">
                6. We, the persons whose names and occupations are set out in this Constitution, desire to form a
                company in
                pursuance of this Constitution and we each agree to take the number of shares in the capital of the
                company set
                out against our respective names.
            </div>
            <div class="div-2-nested-table-2">
                <table class="table second">
                    <tr>
                        <td><u><strong>Name of Subscribers<br><br></strong></u></td>
                        <td style="text-align: center"><u><strong>Occupation of<br>Subscribers<br></strong></u></td>
                        <td style="text-align: right"><u><strong>Amount Guaranteed<br><br></strong></u></td>
                    </tr>
                    {% for officer in app.officers_shareholders %}
                    <tr>
                        <td>{{ officer.full_name or '' }}</td>
                        <td></td>
                        <td style="text-align: right;">{{ officer.shareholder_share or '0.0' }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


        <br>

        <br>
        <br>
        <div class="date">Date this: {{ app.effect_date or '' }}</div>
    </div>
</div>


<!-- Page Break -->
<div style="page-break-before: always"></div>
<!-- End - Page Break -->


<!-- It will use Times New Roman font, this is a classic serif font that is widely available on most systems.-->
<!-- Standard Constitution  -->
<div class="standard">
    <table style="width:100%" class="type1"> <!--Interpretation -->
        <tr>
            <td colspan="2" style="text-align: center; line-height: 3.0;"><em>Interpretation</em></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; text-indent: 20px;">7.— (1) In this Constitution —</td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td style="width:90%">“Act” means the Companies Act (Cap. 50);</td>
        </tr>
        <tr>
            <td></td>
            <td>“board of directors” means the board of directors of the company;</td>
        </tr>
        <tr>
            <td></td>
            <td>“directors” means the directors of the company;</td>
        </tr>
        <tr>
            <td></td>
            <td>“general meeting” means a general meeting of the company;</td>
        </tr>
        <tr>
            <td></td>
            <td>“member” means a member of the company;</td>
        </tr>
        <tr>
            <td></td>
            <td>“Registrar” has the same meaning as in section 4(1) of the Act;</td>
        </tr>
        <tr>
            <td></td>
            <td>“secretary” means a secretary of the company appointed under section 171 of the Act.</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; text-indent: 20px;">(2) In this Constitution —</td>
        </tr>
        <tr>
            <td style="text-indent: 20px;"><em>(a)</em></td>
            <td style="text-align: justify;">expressions referring to writing include, unless the contrary intention
                appears, references to printing, lithography, photography and other modes of representing or reproducing
                words in a visible form; and
            </td>
        </tr>
        <tr>
            <td style="text-indent: 20px;"><em>(b)</em></td>
            <td style="text-align: justify;">words or expressions contained in this Constitution must be interpreted in
                accordance with the provisions of the Interpretation Act (Cap. 1), and of the Act in force as at the
                date at
                which this Constitution becomes binding on the company.
            </td>
        </tr>
    </table>

    <table style="width:100%" class="type2"> <!--Membership -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Membership</em></td>
        </tr>
        <tr>
            <td>8.— (1) A member may withdraw from membership of the company by giving 7 days’ notice to the company in
                writing.
            </td>
        </tr>
        <tr>
            <td>(2) Membership is not transferable.</td>
        </tr>
        <tr>
            <td>(3) A person’s membership terminates when that person dies or ceases to exist.</td>
        </tr>
    </table>
    <table style="width:100%" class="type2"> <!--General meeting-->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>General meeting</em></td>
        </tr>
        <tr>
            <td>9.—(1) An annual general meeting of the company must be held in accordance with the provisions of the
                Act.
            </td>
        </tr>
        <tr>
            <td>(2) All general meetings other than the annual general meetings are called extraordinary general
                meetings.
            </td>
        </tr>
        <tr>
            <td>10.—(1) An extraordinary general meeting may be requisitioned by —</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; any director, whenever the director thinks fit; or</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; any requisitionist as provided for by the Act</td>
        </tr>
        <tr>
            <td>(2) Upon a requisition being made under paragraph (1), an extraordinary general meeting must be
                convened.
            </td>
        </tr>
        <tr>
            <td>11.—(1) Subject to the provisions of the Act relating to special resolutions and any agreement amongst
                persons who are entitled to receive notices of general meetings from a company, at least 14 days’ notice
                (exclusive of the day on which the notice is served or treated to be served, but inclusive of the day
                for
                which notice is given) of any general meeting must be given to persons entitled to receive notices of
                general meetings from the company.
            </td>
        </tr>
        <tr>
            <td>(2) A notice of a general meeting must specify the following:</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; the place at which the general meeting is held;</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; the date and time of the general meeting;</td>
        </tr>
        <tr>
            <td><em>(c)</em>&emsp; in case of special business to be transacted at the general meeting, the general
                nature
                of
                that business.
            </td>
        </tr>
        <tr>
            <td>12.—(1) All business that is transacted at an extraordinary general meeting is special business.</td>
        </tr>
        <tr>
            <td>(2) All business that is transacted at an annual general meeting is special business, except —</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; the consideration of the financial statements, the reports of the auditors and the
                statements of the directors;
            </td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; the election of directors in the place of retiring directors; and</td>
        </tr>
        <tr>
            <td><em>(c)</em>&emsp; the appointment and fixing of the remuneration of the auditors.</td>
        </tr>
    </table>
    <table style="width:100%" class="type2"> <!--Proceedings at general meetings-->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Proceedings at general meetings</em></td>
        </tr>
        <tr>
            <td>13.—(1) No business is to be transacted at any general meeting unless a quorum of members is present at
                the
                time when the meeting proceeds to business.
            </td>
        </tr>
        <tr>
            <td>(2) Except as otherwise provided in this Constitution, 2 members present in person form a quorum.</td>
        </tr>
        <tr>
            <td>(3) In this regulation, “member” includes a person attending as a proxy or as representing a corporation
                or
                a limited liability partnership which is a member.
            </td>
        </tr>
        <tr>
            <td>14. If within half an hour from the time appointed for a general meeting a quorum is not present, the
                meeting —
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; in the case where the meeting is convened upon the requisition of members, is
                dissolved; or
            </td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; in any other case, is adjourned to the same day in the next week at the same time and
                place, or to another day and at another time and place as the directors may determine.
            </td>
        </tr>
        <tr>
            <td>15. The chairman of a general meeting is —</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; in the case where the board of directors has appointed a chairman amongst the
                directors,
                the chairman; or
            </td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; in the case where —<br>
                <table style="width:100%">
                    <tr>
                        <td style="width:7%"></td>
                        <td style="width:5%" style="text-align: center;">(i)</td>
                        <td style="width:88%">the chairman of the board of directors is unwilling to act as the chairman of
                            the
                            general meeting;
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(ii)</td>
                        <td>the chairman is not present within 15 minutes after the time appointed for the holding of
                            the
                            general meeting; or
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(iii)</td>
                        <td>the board of directors has not appointed a chairman amongst the directors,</td>
                    </tr>
                    <tr>
                        <td style="width:9%"></td>
                        <td colspan="2">the member elected by the members present for the purpose of being the chairman
                            of
                            the general meeting.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>16.—(1) The chairman may, with the consent of a general meeting at which a quorum is present, and must
                if so
                directed by a general meeting, adjourn the general meeting from time to time and from place to place.
            </td>
        </tr>
        <tr>
            <td>(2) No business is to be transacted at any adjourned meeting other than the business left unfinished at
                the
                general meeting from which the adjournment took place (called in this regulation the original general
                meeting).
            </td>
        </tr>
        <tr>
            <td>(3) There is no need to give any notice of an adjourned meeting or of the business to be transacted at
                an
                adjourned meeting unless the adjourned meeting is to be held more than 30 days after the date of the
                original general meeting.
            </td>
        </tr>
        <tr>
            <td>17.—(1) At any general meeting a resolution put to the vote of the meeting must be decided on a show of
                hands unless a poll is (before or on the declaration of the result of the show of hands) demanded —
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; by the chairman;</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; by at least 3 members present in person or by proxy; or</td>
        </tr>
        <tr>
            <td><em>(c)</em>&emsp; by any member or members present in person or by proxy and representing not less than
                5% of
                the total voting rights of all the members having the right to vote at the meeting.
            </td>
        </tr>
        <tr>
            <td>(2) Unless a poll is demanded, a declaration by the chairman that a resolution has on a show of hands
                been
                carried or carried unanimously, or by a particular majority, or lost, and an entry to that effect in the
                book containing he minutes of the proceedings of the company is conclusive evidence of the fact without
                proof of the number or proportion of the votes recorded in favour of or against the resolution.
            </td>
        </tr>
        <tr>
            <td>(3) The demand for a poll may be withdrawn.</td>
        </tr>
        <tr>
            <td>18.—(1) Subject to paragraph (2), if a poll is demanded it must be taken in such manner and either at
                once
                or after an interval or adjournment or otherwise as the chairman directs.
            </td>
        </tr>
        <tr>
            <td>(2) A poll demanded on the election of a chairman or on a question of adjournment must be taken
                immediately.
            </td>
        </tr>
        <tr>
            <td>(3) The result of the poll is a resolution of the meeting at which the poll was demanded.</td>
        </tr>
        <tr>
            <td>19. In the case of an equality of votes, whether on a show of hands or on a poll, the chairman of the
                meeting at which the show of hands takes place or at which the poll is demanded is entitled to a second
                or
                casting vote.
            </td>
        </tr>
        <tr>
            <td>20.—(1) Subject to any rights or restrictions conferred by this Constitution, at meetings of members or
                classes of members, each member entitled to vote may vote in person or by proxy or by attorney
            </td>
        </tr>
        <tr>
            <td>(2) On a show of hands, every member or representative of a member present in person has one vote.</td>
        </tr>
        <tr>
            <td>(3) On a poll, every member present in person or by proxy or by attorney or other duly authorised
                representative has one vote.
            </td>
        </tr>
        <tr>
            <td>21. A member who is mentally disordered or whose person or estate is liable to be dealt with in any way
                under the law relating to mental capacity may vote, whether on a show of hands or on a poll, by a person
                who
                properly has the management of the estate of the member, and any such person may vote by proxy or
                attorney
            </td>
        </tr>
        <tr>
            <td>22.—(1) No objection may be raised as to the qualification of any voter except at the meeting or
                adjourned
                meeting at which the vote objected to is given or tendered.
            </td>
        </tr>
        <tr>
            <td>(2) Any objection made in due time must be referred to the chairman of the meeting, whose decision is
                final
                and conclusive.
            </td>
        </tr>
        <tr>
            <td>(3) Every vote not disallowed at the meeting is valid for all purposes.</td>
        </tr>
        <tr>
            <td>23.—(1) The instrument appointing a proxy must be in writing, in the common or usual form and —</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; where the appointer is a corporation or a limited liability partnership, under the
                hand
                of an officer or attorney duly authorised; or
            </td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; in any other case, under the hand of the appointer or of the attorney of the
                appointer
                duly
                authorised in writing.
            </td>
        </tr>
        <tr>
            <td>(2) A proxy may but need not be a member of the company.</td>
        </tr>
        <tr>
            <td>(3) The instrument appointing a proxy is treated as conferring authority to demand or join in demanding
                a
                poll.
            </td>
        </tr>
        <tr>
            <td>24. Where an opportunity of voting for or against a resolution is to be conferred on members, the
                instrument
                appointing a proxy may be in the following form or such other form as the board of directors may
                approve:<br><br>
                <table style="width:100%">
                    <tr>
                        <td style="width:8%"></td>
                        <td style="width:92%">“I/We*, [name(s)], of [address(es)], being a member/members* of the abovenamed
                            company, appoint [name] of [address], or failing him/her, [name] of [address], as my/our*
                            proxy
                            to vote for me/us* on my/our* behalf at the [annual or extraordinary, as the case may be]
                            general meeting of the company, to be held on [date], and at any adjournment of the meeting.<br>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Signed on [date].<br></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>This form is to be used in favour of/against* the resolution.<br></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>*Delete whichever is not applicable. [Unless otherwise instructed, the proxy may vote as he
                            or
                            she thinks fit.]”.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>25.— (1) The following documents must be deposited at the registered office of the company, or at such
                other
                place in Singapore as is specified in the notice convening the meeting by the time specified in
                paragraph
                (2) for the purpose of appointing a proxy:
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; the instrument appointing a proxy;</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; the power of attorney or other authority, if any, under which the instrument
                appointing
                the
                proxy is signed, or a notarially certified copy of that power of attorney or authority.
            </td>
        </tr>
        <tr>
            <td>(2) For the purposes of paragraph (1), the time is —</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; in the case of a poll, not less than 24 hours before the time appointed for the
                taking
                of
                the poll; or
            </td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; in any other case, not less than 72 hours before the time for holding the meeting or
                adjourned meeting at which the person named in the instrument proposes to vote.
                (3) An instrument of proxy is not valid if paragraph (1) is not complied with.
            </td>
        </tr>
        <tr>
            <td>26.— (1) Subject to paragraph (2), a vote given in accordance with the terms of an instrument of proxy
                or
                attorney is valid despite —
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; the previous death or mental disorder of the principal;</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; the revocation of the instrument or of the authority under which the instrument was
                executed; or
            </td>
        </tr>
        <tr>
            <td>(2) Paragraph (1) does not apply if an intimation in writing of such death, mental disorder, revocation,
                or
                transfer has been received by the company at its registered office before the commencement of the
                meeting or
                adjourned meeting at which the instrument is used.
            </td>
        </tr>
    </table>

    <table style="width:100%" class="type2"> <!--Directors: Appointment, etc -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Directors: Appointment, etc.</em></td>
        </tr>
        <tr>
            <td>27.— (1) At the first annual general meeting of the company, all the directors must retire from
                office.
            </td>
        </tr>
        <tr>
            <td>(2) At every annual general meeting subsequent to the first annual general meeting of the company,
                one-third
                of the directors for the time being, or, if their number is not 3 or a multiple of 3, then the number
                nearest one-third, must retire from office.
            </td>
        </tr>
        <tr>
            <td>28. A retiring director is eligible for re-election.</td>
        </tr>
        <tr>
            <td>29. The directors to retire in every year must be those who have been longest in office since their last
                election, but, as between persons who became directors on the same day, those to retire must (unless
                they
                otherwise agree among themselves) be determined by lot.
            </td>
        </tr>
        <tr>
            <td>30.— (1) The company at the meeting at which a director retires may fill the vacated office by electing
                a
                person to fill the vacated office.
            </td>
        </tr>
        <tr>
            <td>(2) If the company does not fill the vacated office, the retiring director is, if he or she offers
                himself
                or herself for re-election and is not disqualified under the Act from holding office as a director,
                treated
                as re-elected, unless —
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; at that meeting it is expressly resolved not to fill the vacated office; or</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; a resolution for the re-election of that director is put to that meeting and lost.
            </td>
        </tr>
        <tr>
            <td>31. The company may from time to time by ordinary resolution passed at a general meeting increase or
                reduce
                the number of directors, and may also determine in what rotation the increased or reduced number is to
                go
                out of office.
            </td>
        </tr>
        <tr>
            <td>32.— (1) The directors have power at any time, and from time to time, to appoint any person to be a
                director, either to fill a casual vacancy or as an addition to the existing directors, but the total
                number
                of directors must not at any time exceed the number fixed in accordance with this Constitution.
            </td>
        </tr>
        <tr>
            <td>(2) Any director appointed under paragraph (1) holds office only until the next annual general meeting,
                and
                is then eligible for re-election.
            </td>
        </tr>
        <tr>
            <td>(3) Any director appointed under paragraph (1) must not be taken into account in determining the
                directors
                who are to retire by rotation at the next annual general meeting.
            </td>
        </tr>
        <tr>
            <td>33.— (1) The company may by ordinary resolution remove any director before the expiration of his or her
                period of office, and may by an ordinary resolution appoint another person in place of the removed
                director.
            </td>
        </tr>
        <tr>
            <td>(2) The person appointed in place of the removed director is subject to retirement at the same time as
                if
                the person had become a director on the day on which the director in whose place the person is appointed
                was
                last elected a director.
            </td>
        </tr>
        <tr>
            <td>34.— (1) The remuneration of the directors is, from time to time, to be determined by the company in
                general
                meeting.
            </td>
        </tr>
        <tr>
            <td>(2) The remuneration of the directors is treated as accruing from day to day.</td>
        </tr>
        <tr>
            <td>(3) The directors may also be paid all travelling, hotel, and other expenses properly incurred by them
                in
                attending and returning from meetings of the directors or any committee of the directors or general
                meetings
                of the company or in connection with the business of the company.
            </td>
        </tr>
        <tr>
            <td>35. The office of director becomes vacant if the director —</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; ceases to be a director by virtue of the Act;</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; becomes bankrupt or makes any arrangement or composition with his or her creditors
                generally;
            </td>
        </tr>
        <tr>
            <td><em>(c)</em>&emsp; becomes prohibited from being a director by reason of any order made under the Act;
            </td>
        </tr>
        <tr>
            <td><em>(d)</em>&emsp; becomes disqualified from being a director by virtue of his or her disqualification
                or
                removal or the revocation of his or her appointment as a director, as the case may be, under —<br>
                <table style="width:100%">
                    <tr>
                        <td style="width:7%"></td>
                        <td style="width:5%" style="text-align: center;">(i)</td>
                        <td style="width:80%">&emsp;section 148, 149, 149A, 154, 155, 155A or 155C of the Act;</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(ii)</td>
                        <td> &emsp;section 50 or 54 of the Banking Act (Cap. 19);</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(iii)</td>
                        <td> &emsp;section 47 of the Finance Companies Act (Cap. 108);</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(iv)</td>
                        <td> &emsp;section 57 of the Financial Advisers Act (Cap. 110);</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(v)</td>
                        <td> &emsp;section 31, 31A, 35ZJ or 41(2)<em>(a)</em>(ii) of the Insurance Act (Cap. 142);</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(vi)</td>
                        <td> &emsp;section 30AAI of the Monetary Authority of Singapore Act (Cap. 186);</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(vii)</td>
                        <td> &emsp;section 12A of the Money-changing and Remittance Businesses Act (Cap. 187);</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(viii)</td>
                        <td> &emsp;section 22 of the Payment Systems (Oversight) Act (Cap. 222A);</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(ix)</td>
                        <td> &emsp;section 44, 46Z, 81P, 81ZJ, 97 or 292A of the Securities and Futures Act (Cap. 289);
                            or
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center;">(x)</td>
                        <td> &emsp;section 14 of the Trust Companies Act (Cap. 336);</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><em>(e)</em>&emsp; being a director of a Registered Fund Management Company as defined in the Securities
                and
                Futures (Licensing and Conduct of Business) Regulations (Cap. 289, Rg 10), he or she has been removed by
                the
                Registered Fund Management Company as director in accordance with those Regulations;
            </td>
        </tr>
        <tr>
            <td><em>(f)</em>&emsp; becomes mentally disordered and incapable of managing himself or herself or his or
                her
                affairs or a person whose person or estate is liable to be dealt with in any way under the law relating
                to
                mental capacity;
            </td>
        </tr>
        <tr>
            <td><em>(g)</em>&emsp; subject to section 145 of the Act, resigns his or her office by notice in writing to
                the
                company;
            </td>
        </tr>
        <tr>
            <td><em>(h)</em>&emsp; for more than 6 months is absent without permission of the directors from meetings of
                the
                directors held during that period;
            </td>
        </tr>
        <tr>
            <td><em>(i)</em>&emsp; without the consent of the company in general meeting, holds any other office of
                profit
                under the company except that of managing director or manager; or
            </td>
        </tr>
        <tr>
            <td><em>(j)</em>&emsp; is directly or indirectly interested in any contract or proposed contract with the
                company
                and fails to declare the nature of his or her interest in manner required by the Act.
            </td>
        </tr>
    </table>
    <table style="width:100%" class="type2"> <!--Powers and duties of directors -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Powers and duties of directors</em></td>
        </tr>
        <tr>
            <td>36.— (1) The business of a company is managed by or under the direction or supervision of the directors.
            </td>
        </tr>
        <tr>
            <td>(2) The directors may exercise all the powers of a company except any power that the Act or this
                Constitution requires the company to exercise in general meeting.
            </td>
        </tr>
        <tr>
            <td>37. Without limiting the generality of regulation 36, the directors may exercise all the powers of the
                company to do all or any of the following for any debt, liability, or obligation of the company or of
                any
                third party:
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; borrow money;</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; mortgage or charge its undertaking, property, and uncalled capital, or any part of
                the
                undertaking, property and uncalled capital;
            </td>
        </tr>
        <tr>
            <td><em>(c)</em>&emsp; issue debentures and other securities whether outright or as security.</td>
        </tr>
        <tr>
            <td>38. The directors may exercise all the powers of the company in relation to branch registers of
                debenture holders kept in any place outside
                Singapore.
            </td>
        </tr>
        <tr>
            <td>39.— (1) The directors may from time to time by power of attorney appoint any corporation, firm, limited
                liability partnership or person or body of persons, whether nominated directly or indirectly by the
                directors, to be the attorney or attorneys of the company for the purposes and with the powers,
                authorities,
                and discretions (not exceeding those vested in or exercisable by the directors under this Constitution)
                and
                for a period and subject to any conditions as the directors may think fit.
            </td>
        </tr>
        <tr>
            <td>(2) Any powers of attorney granted under paragraph (1) may contain provisions for the protection and
                convenience of persons dealing with the attorney as the directors think fit and may also authorise the
                attorney to delegate all or any of the powers, authorities, and discretions vested in the attorney.
            </td>
        </tr>
        <tr>
            <td>40. All cheques, promissory notes, drafts, bills of exchange, and other negotiable instruments, and all
                receipts for money paid to the company, must be signed, drawn, accepted, endorsed, or otherwise
                executed, as
                the case may be, by any 2 directors or in such other manner as the directors from time to time
                determine.
            </td>
        </tr>
        <tr>
            <td>41.—(1) The directors must cause minutes to be made of all of the following matters:</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; all appointments of officers to be engaged in the management of the company’s
                affairs;
            </td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; names of directors present at all meetings of the company and of the directors;</td>
        </tr>
        <tr>
            <td><em>(c)</em>&emsp; all proceedings at all meetings of the company and of the directors.</td>
        </tr>
        <tr>
            <td>(2) The minutes referred to in paragraph (1) must be signed by the chairman of the meeting at which the
                proceedings were held or by the chairman of the next succeeding meeting.
            </td>
        </tr>
    </table>

    <table style="width:100%" class="type2"> <!--Proceedings of directors -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Proceedings of directors</em></td>
        </tr>
        <tr>
            <td>42.— (1) The directors may meet together for the despatch of business, adjourn and otherwise regulate
                their
                meetings as they think fit.
            </td>
        </tr>
        <tr>
            <td>(2) A director may at any time summon a meeting of the directors.</td>
        </tr>
        <tr>
            <td>(3) The secretary must, on the requisition of a director, summon a meeting of the directors.</td>
        </tr>
        <tr>
            <td>43.— (1) Subject to this Constitution, questions arising at any meeting of directors must be decided by
                a
                majority of votes and a determination by a majority of directors is for all purposes treated as a
                determination of the directors.
            </td>
        </tr>
        <tr>
            <td>(2) In case of an equality of votes the chairman of the meeting has a second or casting vote.</td>
        </tr>
        <tr>
            <td>44.— (1) A director must not vote in respect of any transaction or proposed transaction with the company
                in
                which the director is interested, or in respect of any matter arising from such transaction or proposed
                transaction.
            </td>
        </tr>
        <tr>
            <td>(2) If a director referred to in paragraph (1) does vote in respect of any transaction or proposed
                transaction referred to in that paragraph, the director’s vote must not be counted.
            </td>
        </tr>
        <tr>
            <td>45. The quorum necessary for the transaction of the business of the directors may be fixed by the
                directors,
                and unless so fixed is 2.
            </td>
        </tr>
        <tr>
            <td>46.— (1) Subject to paragraph (2), the directors may act despite any vacancy in their body.</td>
        </tr>
        <tr>
            <td>(2) If and so long as the number of directors is reduced below the number fixed by this Constitution as
                the
                necessary quorum of directors, the continuing directors or director may not act except for the purpose
                of
                increasing the number of directors to that number or for the purpose of summoning a general meeting of
                the
                company.
            </td>
        </tr>
        <tr>
            <td>47.— (1) The directors may elect a chairman of their meetings and determine the period for which the
                chairman is to hold office.
            </td>
        </tr>
        <tr>
            <td>(2) If no chairman is elected, or if at any meeting the chairman is not present within 10 minutes after
                the
                time appointed for holding the meeting, the directors present may choose one of their number to be
                chairman
                of the meeting.
            </td>
        </tr>
        <tr>
            <td>48.— (1) The directors may delegate any of their powers to committees consisting of any member or
                members of
                their body as the directors think fit.
            </td>
        </tr>
        <tr>
            <td>(2) Any committee formed under paragraph (1) must in the exercise of the delegated powers conform to any
                regulation that may be imposed on it by the directors.
            </td>
        </tr>
        <tr>
            <td>49.— (1) A committee may elect a chairman of its meetings.</td>
        </tr>
        <tr>
            <td>(2) If no chairman is elected, or if at any meeting the chairman is not present within 10 minutes after
                the
                time appointed for holding the meeting, the members present may choose one of their number to be
                chairman of
                the meeting.
            </td>
        </tr>
        <tr>
            <td>50.— (1) A committee may meet and adjourn as it thinks proper.</td>
        </tr>
        <tr>
            <td>(2) Questions arising at any meeting must be determined by a majority of votes of the members present,
                and
                in the case of an equality of votes the chairman has a second or casting vote.
            </td>
        </tr>
        <tr>
            <td>51. All acts done by any meeting of the directors or of a committee of directors or by any person acting
                as
                a director is as valid as if every such person had been duly appointed and was qualified to be a
                director,
                even if it is afterwards discovered that —
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; there was some defect in the appointment of any director or person acting as a
                director; or
            </td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; the directors or person acting as a director or any of them were disqualified.</td>
        </tr>
        <tr>
            <td>52.— (1) A resolution in writing, signed by all the directors for the time being entitled to receive
                notice
                of a meeting of the directors, is as valid and effectual as if it had been passed at a meeting of the
                directors duly convened and held.
            </td>
        </tr>
        <tr>
            <td>(2) Any resolution in writing under paragraph (1) may consist of several documents in like form, each
                signed
                by one or more directors.
            </td>
        </tr>
        <tr>
            <td>53. Where the company has only one director, the director may pass a resolution by recording it and
                signing
                the record.
            </td>
        </tr>
    </table>

    <table style="width:100%" class="type2"> <!--Managing directors -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Managing directors</em></td>
        </tr>
        <tr>
            <td>54.— (1) The directors may from time to time appoint one or more of their body to the office of managing
                director for such period and on such terms as they think fit and, subject to the terms of any agreement
                entered into in any particular case, may revoke any such appointment.
            </td>
        </tr>
        <tr>
            <td>(2) A director appointed under paragraph (1) is not, while holding the office of managing director,
                subject
                to retirement by rotation or to be taken into account in determining the rotation of retirement of
                directors, but his or her appointment automatically determines if he or she ceases from any cause to be
                a
                director.
            </td>
        </tr>
        <tr>
            <td>55. A managing director may, subject to the terms of any agreement entered into in any particular case,
                receive remuneration by one or more of the following ways as the directors may determine:
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; salary;</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; commission;</td>
        </tr>
        <tr>
            <td>56. The directors may entrust to and confer upon a managing director any of the powers exercisable by
                them
                upon such terms and conditions and with such restrictions as they think fit, and either collaterally
                with or
                to the exclusion of their own powers, and may from time to time revoke, withdraw, alter, or vary all or
                any
                of those powers.
            </td>
        </tr>
    </table>

    <table style="width:100%" class="type2"> <!--Alternate directors and substitute directors -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Alternate directors and substitute directors</em></td>
        </tr>
        <tr>
            <td>57.— (1) Any director (called in this regulation the appointer) may, with the approval of the board of
                directors, appoint any person, whether a member of the company or not, to be an alternate or substitute
                director in the appointer’s place for any period as the appointer thinks fit.
            </td>
        </tr>
        <tr>
            <td>(2) Any person holding office as an alternate or substitute director is entitled to notice of meetings
                of
                the directors and to attend and vote at meetings of the directors, and to exercise all the powers of the
                appointer in the appointer’s place.
            </td>
        </tr>
        <tr>
            <td>(3) An alternate or substitute director must vacate office if the appointer vacates office as a director
                or
                removes the appointee from office.
            </td>
        </tr>
        <tr>
            <td>(4) Any appointment or removal under this regulation must be effected by notice in writing under the
                hand of
                the director making the appointment or removal.
            </td>
        </tr>
    </table>

    <table style="width:100%" class="type2"> <!-- Associate directors-->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Associate directors</em></td>
        </tr>
        <tr>
            <td>58.— (1) The directors may from time to time appoint any person to be an associate director and may from
                time to time cancel any such appointment.
            </td>
        </tr>
        <tr>
            <td>(2) The directors may fix, determine and vary the powers, duties and remuneration of any person
                appointed as
                an associate director.
            </td>
        </tr>
        <tr>
            <td>(3) A person appointed as an associate director does not have any right to attend or vote at any meeting
                of
                directors except by the invitation and with the consent of the directors.
            </td>
        </tr>
    </table>

    <table style="width:100%" class="type2"> <!--Secretary -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Secretary</em></td>
        </tr>
        <tr>
            <td>59.— (1) The secretary must be appointed by the directors in accordance with the Act for any term, at
                any
                remuneration, and upon any conditions as the directors think fit.
            </td>
        </tr>
        <tr>
            <td>(2) Any secretary appointed under paragraph (1) may be removed by the directors.</td>
        </tr>
    </table>

    <table style="width:100%" class="type2"> <!--Financial statements -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Financial statements</em></td>
        </tr>
        <tr>
            <td>60.— (1) The directors must —</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; cause proper accounting and other records to be kept;</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; distribute copies of financial statements and other documents as required by the Act;
                and
            </td>
        </tr>
        <tr>
            <td><em>(c)</em>&emsp; determine whether, to what extent, at what times and places, and under what
                conditions
                or
                regulations the accounting and other records of the company are open to the inspection of members who
                are
                not directors.
            </td>
        </tr>
        <tr>
            <td>(2) No member (who is not a director) has any right of inspecting any account or book or paper of the
                company except as conferred by statute or authorised by the directors or by the company in general
                meeting.
            </td>
        </tr>
    </table>
    <table style="width:100%" class="type2"> <!--Notices -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Notices</em></td>
        </tr>
        <tr>
            <td>61.— (1) A notice may be given by the company to any member either personally or by sending it by post
                to
                the member —
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; at the member’s registered address; or</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; if the member has no registered address in Singapore, to the address, if any, in
                Singapore
                supplied by the member to the company for the giving of notices to the member.
            </td>
        </tr>
        <tr>
            <td>(2) Where a notice is sent by post, service of the notice is treated as effected by properly addressing,
                prepaying, and posting a letter containing the notice.
            </td>
        </tr>
        <tr>
            <td>(3) Where a notice is sent by post, service of the notice is treated as effected —</td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; in the case of a notice of a meeting, on the day after the date of its posting; and
            </td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; in any other case, at the time at which the letter would be delivered in the ordinary
                course of post.
            </td>
        </tr>
        <tr>
            <td>62.— (1) A notice may also be sent or supplied by the company by electronic means to a member who has
                agreed
                generally or specifically that the notice may be given by electronic means and who has not revoked that
                agreement.
            </td>
        </tr>
        <tr>
            <td>(2) Where the notice is given by electronic means, service of the notice is treated as effected properly
                by
                sending or supplying it to an address specified for the purpose by the member generally or specifically.
            </td>
        </tr>
        <tr>
            <td>63. (1) Notice of every general meeting must be given in any manner authorised in regulations 62 to 63
                to
                —
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; every member;</td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; the auditor for the time being of the company.</td>
        </tr>
        <tr>
            <td>(2) No other person is entitled to receive notices of general meetings.</td>
        </tr>
    </table>
    <table style="width:100%" class="type2"> <!--Indemnity -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Indemnity</em></td>
        </tr>
        <tr>
            <td>64. Every officer of the company is to be indemnified out of the assets of the company against any
                liability
                (other than any liability referred to in section 172B(1)<em>(a)</em> or <em>(b)</em> of the Act)
                incurred by
                the
                officer to a person other than the company attaching to the officer in connection with any negligence,
                default, breach of duty or breach of trust.
            </td>
        </tr>
        <tr>
            <td>65. Every auditor is to be indemnified out of the assets of the company against any liability incurred
                by
                the auditor in defending any proceedings, whether civil or criminal, in which judgment is given in the
                auditor’s favour or in which the auditor is acquitted or in connection with any application under the
                Act in
                which relief is granted to the auditor by the Court in respect of any negligence, default, breach of
                duty or
                breach of trust.
            </td>
        </tr>
    </table>
    <table style="width:100%" class="type2"> <!--Income and property of company -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Income and property of company</em></td>
        </tr>
        <tr>
            <td>66.—(1) The income and property of the company must be applied solely towards the promotion of the
                objects
                of the company and no portion of the income and property may be paid or transferred directly or
                indirectly
                by way of dividend, bonus or otherwise by way of profit to the members of the company.
            </td>
        </tr>
        <tr>
            <td>(2) Despite paragraph (1) or any other provision of this Constitution, the company may make payment, in
                good
                faith, of —
            </td>
        </tr>
        <tr>
            <td><em>(a)</em>&emsp; reasonable and proper remuneration to an officer, member or employee of the company
                for
                services rendered to the company;
            </td>
        </tr>
        <tr>
            <td><em>(b)</em>&emsp; reimbursement to a director of the company for out-of-pocket expenses; or</td>
        </tr>
        <tr>
            <td><em>(c)</em>&emsp; payment, in good faith, of a reasonable and proper rent to a director or member of
                the
                company for premises demised to or let to the company.
            </td>
        </tr>
    </table>
    <table style="width:100%" class="type2"> <!--Indemnity -->
        <tr>
            <td style="text-align: center; line-height: 3.0;"><em>Dissolution of company</em></td>
        </tr>
        <tr>
            <td>67.—(1) The company may be dissolved upon the passing of a special resolution of the company at a
                general
                meeting of members convened for this purpose and the obtaining of written approval by a majority of the
                board of directors after such special resolution has been passed.
            </td>
        </tr>
        <tr>
            <td>(2) If upon the winding up or dissolution of the company there remains, after the satisfaction of all
                its
                debts and liabilities, any moneys or property whatsoever, the same must not be paid to or distributed
                among
                the members of the company, but must be given or transferred to a charity or institution of a public
                character, as determined by the members of the company at or before the time of the dissolution having
                objects similar to those of the company, and which is registered under the Charities Act (Cap. 37).
            </td>
        </tr>
    </table>

</div>
<!-- End - Standard Constitution -->
</body>
</html>